<p-toast></p-toast>
<app-min-nav-bar></app-min-nav-bar>

<div class="d-flex justify-content-center align-items-center">
  <button class="btn btn-success btn-sm
                text-monospace font-italic font-weight-bolder" style="color: white;font-weight: bold;"
          data-toggle="modal" data-target="#exampleModalCenter">
    Add a slot
  </button>
</div>
<br>

<div class="d-flex justify-content-center align-items-center">
  <div class="container m-5 p-5 border border-bottom">
    <p-fullCalendar (click)="getClikedDate($event.target)" [events]="events" [options]="options"></p-fullCalendar>
  </div>
</div>

<div class=" mb-4 font-weight-bold ml-lg-5">
  <p-tag [style]="{'background-color':'#4CAF50'}" styleClass="mr-2" [rounded]="true" value="Open"></p-tag>
  <p-tag [style]="{'background-color':'purple'}" styleClass="mr-2" [rounded]="true" value="Teacher"></p-tag>
  <p-tag [style]="{'background-color':'#6A5720'}" styleClass="mr-2" [rounded]="true" value="Cancelled"></p-tag>
  <p-tag [style]="{'background-color':'#F02B1D'}" styleClass="mr-2" [rounded]="true" value="Finished"></p-tag>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a slot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="justify-content-center col-6">

            <label for="time">Starting date </label>
            <br>
            <p-calendar [(ngModel)]="startDate" [minDate]="minDate" [showIcon]="true" showButtonBar="true" id="time"
                        inputId="time"></p-calendar>

          </div>

          <div class="justify-content-center col-6">

            <label for="timeonly">Starting time </label>
            <br>
            <p-calendar [(ngModel)]="startTime" [showIcon]="true" [timeOnly]="true" [hourFormat]="12"
                        inputId="timeonly" id="timeonly"></p-calendar>
          </div>
        </div>

        <br>

        <p-divider type="dashed" align="center">
          <p-tag styleClass="p-mr-2" [rounded]="true" [style]="{'background-color':'#4CAF50'}" [value]="'&'"></p-tag>
        </p-divider>


        <div class="row">
          <div class="justify-content-center col-6">

            <label for="time2">End date </label>
            <br>
            <p-calendar [(ngModel)]="endDate" [minDate]="startDate" [disabled]="!startDate" [showIcon]="true" showButtonBar="true"
                        inputId="time2" id="time2"></p-calendar>

          </div>

          <div class="justify-content-center col-6">

            <label for="timeonly2">End time </label>
            <br>
            <p-calendar [(ngModel)]="endTime" [disabled]="!startTime" [showIcon]="true" [timeOnly]="true" [hourFormat]="12"
                        inputId="timeonly2" id="timeonly2"></p-calendar>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <p-button data-dismiss="modal" aria-label="Close"
          (click)="onAddTeacherBooking()" class="p-button-raised p-button-secondary" label="Save"
                  icon="pi pi-save" [disabled]="checkDates()"></p-button>
      </div>
    </div>
  </div>
</div>
