<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">

      <!-- Home -->
      <li class="nav-item " [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fa fa-home "></i> Home</a>
      </li>

      <!-- Register -->
      <li *ngIf="authService.checkToken()" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/register']">
          <i class="fa fa-user-plus"></i> {{ 'NAV.REGISTER' | translate }}</a>
      </li>

      <!-- Contact -->
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer;" [routerLink]="['/home']">
          <i class="fa fa-envelope"></i>
          {{ 'NAV.CONTACT' | translate }}
        </a>
      </li>

      <!-- About -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">
          <i class="fa fa-address-card"></i> {{ 'NAV.ABOUT' | translate }}</a>
      </li>

      <!-- Reviews -->
      <li class="nav-item">
        <a id="reviewsBtn" class="nav-link" [routerLink]="['/reviews']">
          <i class="fa fa-commenting"></i> {{ 'NAV.REVIEWS' | translate }}</a>
      </li>
    </ul>
  </div>

  <!-- Teacher app logo -->
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto font-weight-bolder"
       [routerLink]="['/home']">{{ 'NAV.TITLE' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <!-- Left side of nav bar -->
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">

      <!-- Admin -->
      <li *ngIf="!authService.checkToken() && authService.role === 'admin'"
          class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="adminBtn"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {{ 'NAV.ADMIN.TITLE' | translate }}
        </a>

        <!-- Admin dropdown -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <h6 class="dropdown-header">
            <i class="fa fa-cogs"> </i> {{ 'NAV.SETTINGS' | translate }}</h6>
          <a class="dropdown-item" [routerLink]="['/calendar']">{{ 'NAV.ADMIN.CALENDAR' | translate }}</a>
          <a id="allUsersBtn" class="dropdown-item" [routerLink]="['/users/all']">{{ 'NAV.ADMIN.ALL_USERS' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/questions/all']">{{ 'NAV.ADMIN.ALL_QUESTIONS' | translate }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/users/info']">{{ 'NAV.ADMIN.USERS_INFO' | translate }}</a>
        </div>
      </li>

      <!-- Teacher -->
      <li *ngIf="!authService.checkToken() && (authService.role === 'teacher' ||
        authService.role === 'admin')" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">{{ 'NAV.TEACHER.TITLE' | translate }}
        </a>

        <!-- Teacher dropdown -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <h6 class="dropdown-header">
            <i class="fa fa-cogs"> </i> {{ 'NAV.SETTINGS' | translate }}</h6>
          <a class="dropdown-item" [routerLink]="['/users/all']"> {{ 'NAV.TEACHER.ALL_USERS' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/users/info']">{{ 'NAV.TEACHER.ALL_STUDENTS_SCORES' | translate }}</a>
          <a class="dropdown-item" [routerLink]="['/questions/all']"> {{ 'NAV.TEACHER.ALL_QUESTIONS' | translate }}</a>
        </div>
      </li>

      <!-- Dashboard -->
      <li *ngIf="!authService.checkToken()" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/dashboard']">{{ 'NAV.BOOKING' | translate }}</a>
      </li>

      <!-- QCM -->
      <li *ngIf="!authService.checkToken()" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/questions']">
          <i class="fa fa-list-ol"></i> QCM</a>
      </li>

      <!-- Profile -->
      <li *ngIf="!authService.checkToken()" class="nav-item ">
        <a id="profileBtn" class="nav-link " style="cursor:pointer;" (click)="onSelect()">
          <i class="fa fa-user"></i> {{authService.username}}</a>
      </li>

      <!-- Login -->
      <li *ngIf="authService.checkToken()" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
        <a id="loginBtn" class="nav-link" [routerLink]="['/login']">
          <i class="fa fa-sign-in"></i> {{ 'NAV.LOGIN' | translate }}</a>
      </li>

      <!-- Logout -->
      <li *ngIf="!authService.checkToken()" class="nav-item">
        <a id="logoutBtn" class="nav-link" (click)="onLogOutClick()" href="#">
          <i class="fa fa-sign-out"></i>{{ 'NAV.LOGOUT' | translate }}</a>
      </li>

      <li class="switch nav-item">
          <input id="language-toggle" (click)="updateLanguage($event.target)"
                 class="check-toggle check-toggle-round-flat" type="checkbox">
          <label for="language-toggle"></label>
          <span class="on">EN</span>
          <span class="off">DE</span>
      </li>

    </ul>
  </div>
</nav>
