<div class="jumbotron text-center">
  <h1>{{ 'HOME.TITLE' | translate }} </h1>
  <p class="lead">
    {{ 'HOME.SUBTITLE' | translate }}
  </p>

  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">{{ 'HOME.REGISTER' | translate }}</a>
    <p></p>
    <a class="btn btn-secondary" [routerLink]="['/login']">{{ 'HOME.LOGIN' | translate }}</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 style="margin-left: 10px">{{ 'HOME.SUB1.TITLE' | translate }}</h3>
    <p style="margin-left: 10px">{{ 'HOME.SUB1.TEXT' | translate }}</p>
  </div>

  <div class="col-md-4">
    <h3>{{ 'HOME.SUB2.TITLE' | translate }}</h3>
    <p>{{ 'HOME.SUB2.TEXT' | translate }}</p>
  </div>

  <div class="col-md-4">
    <h3>{{ 'HOME.SUB3.TITLE' | translate }}</h3>
    <p style="margin-right: 10px">{{ 'HOME.SUB3.TEXT' | translate }}</p>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
